<%- include('./layout/header') %>
<%- include('./layout/navbar') %>
    <div class="showcase">
        <h1>About<span>
            Express Diary
        </span></h1>
        <p>A simple app made with express</p>
        <p>Version 1.0</p>
    </div>
<%- include('./layout/footer') %>