<%- include('./layout/header')   %>
<%- include('./layout/navbar')  %>
    <div class="showcase">
        <h1>Welcome to Express <span class="green-text">Diary</span></h1>
        <p>Record your Daily life</p>
        <a href="/Diary">Open your Express Diary</a>
    </div>
<%- include('./layout/footer') %>